<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Unicorn Vikings</title>

  <link rel="shortcut icon" href="/img/favicon.ico" />

  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/roboto.min.css" rel="stylesheet">
  <link href="/css/material-fullpalette.min.css" rel="stylesheet">
  <link href="/css/ripples.min.css" rel="stylesheet">

  <style type="text/css">
    .row-eq-height {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display:         flex;
    }

    .image-well {
      padding-left: 0 !important;
      padding-top: 0 !important;
      padding-right: 0 !important;
    }

    .modal-body img.thumb, .news-well img.thumb, .image-well img.thumb {
      width: 100%;
    }

    .advert-well {
      padding: 0 !important;
    }

    .advert-well img {
      padding: 0 !important;
    }

    a.navbar-brand {
      padding-left: 0 !important;
      padding-top: 0 !important;
    }

    .navbar {
      line-height: 45px;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .spinner {
        animation: rotation 0.8s infinite linear;
    }

    div.reload-page {
      display: block;
      background-color: #72e9ca;
      border-radius: 50%;
      width: 64px;
      height: 64px;
      color: #ffffff;
      font-size: 32px;
      position: absolute; 
        top: 48px;  
        left: 50%;  
        margin-left: -32px; 
        text-align: center;
        line-height: 40px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);

    }

    a.reload-page {
      color: #ffffff;
      font-size: 32px;
    }
    i.reload-page {
      margin-top: 15px;
    }

    body { padding-top: 132px; }

  </style>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <div class="navbar navbar-default navbar-fixed-top shadow-z-1" style="min-height: 80px;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/img/logo.png" width="80" height="80" alt="Viking Unicorns" title="Viking Unicorns" /></a>
        </div>
        <div class="reload-page">
          <a class="reload-page" href="/search/?q={{ query }}">
          <i class="glyphicon glyphicon-refresh reload-page"></i>
          </a>
          </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
<!--           <ul class="nav navbar-nav">
            <li class="active"><a href="javascript:void(0)">Active</a></li>
            <li><a href="javascript:void(0)">Link</a></li>
            <li class="dropdown">
              <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0)">Action</a></li>
                <li><a href="javascript:void(0)">Another action</a></li>
                <li><a href="javascript:void(0)">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Dropdown header</li>
                <li><a href="javascript:void(0)">Separated link</a></li>
                <li><a href="javascript:void(0)">One more separated link</a></li>
              </ul>
            </li>
          </ul> -->
          <form class="navbar-form navbar-left" method="get" action="/search/">
          <div class="form-group">
            <input name="q" type="text" class="form-control ol-md-8" placeholder="Search" value="{{ query }}">

            </div>
            <button type="submit" class="btn" style="padding:0; height: 32px; width: 32px;"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></button>
          </form>


<!--           <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:void(0)">Link</a></li>
            <li class="dropdown">
              <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0)">Action</a></li>
                <li><a href="javascript:void(0)">Another action</a></li>
                <li><a href="javascript:void(0)">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="javascript:void(0)">Separated link</a></li>
              </ul>
            </li>
          </ul> -->
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="well news-well">
            {% if news.imageUrl %}
            <img src="{{ news.imageUrl | safe }}" class="thumb" />
            {% endif %}
            {% if news.title %}
            <h2>{{ news.title }}</h2>
            {% endif %}
            <small>{{ news.date }}</small>
            {% if news.leadtext %}
            <p>{{ news.leadtext | safe }}</p>
            {% endif %}
            <!-- {{ news.content | safe }} -->
      <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">
        Read more...
      </button>
            <!-- <p>{{ news | json | safe }}</p> -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              {% if images && images.display_sizes %}
              <div class="col-md-6">
                <div class="well image-well clearfix">
                  <img src="{{ images.display_sizes[0].uri }}" class="thumb" />
                  <div class="logo pull-right">
                    <img src="/img/gettyimages.svg" height="30" />
                  </div>
                  <p>{{ images.title }}</p>
                </div>
              </div>
              <div class="col-md-6">
              {% else %}
              <div class="col-md-12">
              {% endif %}
                <div class="well text-center">
                  <a href="{{ advert.redirect_url | safe }}"><img src="{{ advert.image_url | safe }}" /></a><br />
                  <p>{{ advert.name | safe }}</p>
                  &euro;{{ advert.price }}
                  {% if advert.has_discount && advert.old_price %}
                  (was &euro;{{ advert.old_price }})
                  {% endif %}
                  <!-- {{ advert | json | safe }} -->
                </div>
              </div>
            </div>
            
        
            <div class="row">
              <div class="col-md-12">
                <div class="well music-well clearfix">
                  <iframe width="100%" height="166" scrolling="no" frameborder="no"  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ music.id }}&color=ff5500"></iframe>
                </div>
              </div>
            </div>
       
             <div class="row">
              <div class="col-md-12">
                <div class="well videos-well clearfix">
                  <iframe width='560' height='315' src="https://www.youtube.com/embed/{{ videos.id }}" frameborder='0' allowfullscreen></iframe>
                  <div class="logo pull-right">
                    <img src="/img/youtube.png" height="30" />
                  </div>
                  <p>{{ videos.title }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {% if news.title %}
              <h4 class="modal-title" id="myModalLabel">{{ news.title }}</h4>
              {% endif %}
            </div>
            <div class="modal-body">
              {% if news.imageUrl %}
              <img src="{{ news.imageUrl | safe }}" class="thumb" />
              {% endif %}
              <small>{{ news.date }}</small>
              {{ news.content | safe }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- {{ images | json | safe }} -->

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="/js/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/material.min.js"></script>
      <script>
        $(function () {
          $.material.init();
        });
      </script>
      <script>$(function() {
    
      var $allVideos = $("iframe[src^='http://player.vimeo.com'], iframe[src^='https://www.youtube.com'], object, embed");
  	    	
    	$allVideos.each(function() {
    	
    	  $(this)
    	    // jQuery .data does not work on object/embed elements
    	    .attr('data-aspectRatio', this.height / this.width)
    	    .removeAttr('height')
    	    .removeAttr('width');
    	
    	});
    	
    	$(window).resize(function() {
    	  
    	  $allVideos.each(function() {
    	  
    	  var newWidth = $($(this).closest('.well')).width();
    	  console.log(newWidth);
    	    var $el = $(this);
    	    $el
    	        .width(newWidth)
    	        .height(newWidth * $el.attr('data-aspectRatio'));
    	  });
    	
    	}).resize();
    });
      $(function() {
        $('a.reload-page').click(function (e) {
          $('i.reload-page').addClass('spinner');
        });
      });
    </script>
    </body>
    </html>
